* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

/* .container {
  padding: 20px 100px 20px 100px;
} */

nav {
  display: flex;
  padding: 10px 100px 10px 100px;
  gap: 15px;
}

nav > a {
  color: #e5e7eb;
  text-decoration: none;
}

.header_logo {
  margin-right: auto;
  font-size: 24px;
  color: #f9faf8;
}

.header_link_text {
  color: #e5e7eb;
  font-size: 18px;
}

.hero_main_text {
  font-size: 48px;
  font-weight: 800;
  color: #f9faf8;
}

.hero_secondary_text {
  color: #e5e7eb;
  font-size: 18px;
}

.first-container {
  background-color: #1f2937;
}

.first_section {
  display: flex;

  padding: 50px 100px 50px 100px;
}

.first_section img {
  max-width: 50%;
  flex: 1;
  height: auto;
}

.hero {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 15px;
  align-items: flex-start;
}

.hero button {
  flex-grow: 0;
  flex-basis: 20px;
  background-color: #3882f6;
  border: 0;
  border-radius: 5px;
  color: white;
  padding: 5px 15px 5px 15px;
}
