* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

nav {
  display: flex;
  padding: 10px 150px 10px 150px;
  gap: 15px;
}

nav > a {
  color: #e5e7eb;
  text-decoration: none;
}

.header_logo {
  margin-right: auto;
  font-size: 24px;
  color: #f9faf8;
}

.header_link_text {
  color: #e5e7eb;
  font-size: 18px;
}

.hero_main_text {
  font-size: 48px;
  font-weight: 800;
  color: #f9faf8;
}

.hero_secondary_text {
  color: #e5e7eb;
  font-size: 18px;
}

.first-container {
  background-color: #1f2937;
}

.first_section {
  display: flex;
  gap: 50px;
  padding: 50px 150px 50px 150px;
}

.first_section img {
  max-width: 50%;
  flex: 1;
  height: auto;
}

.hero {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 15px;
  align-items: flex-start;
}

.hero button {
  flex-grow: 0;
  flex-basis: 20px;
  background-color: #3882f6;
  border: 0;
  border-radius: 5px;
  color: white;
  padding: 5px 15px 5px 15px;
}

.second_section {
  padding: 0px 150px 50px 150px;
}

.info_section {
  padding: 50px 80px 50px 80px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.second_section h2 {
  color: #1f2937;
  font-size: 36px;
  font-weight: 900;
  align-self: center;
}

.info_images {
  display: flex;
  gap: 50px;
}

.info_images img {
  height: auto;
  max-width: 100%;
  border: 3px solid #3882f6;
  border-radius: 10px;
}

.third_section {
  padding: 0px 150px 50px 150px;
  background-color: #e5e7eb;
}

.quote_section {
  padding: 50px 120px 50px 120px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.quote {
  font-size: 36px;
  font-style: italic;
  font-weight: 100;
}

.quote_author {
  align-self: flex-end;
}
